body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(sprites/dino.png);
    position: absolute;
    bottom: 0px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(sprites/cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: Arial;
}

/* faz a animação */
@keyframes slideRight {
    from {
        background-position: 30000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(sprites/background.png);
    background-repeat: repeat-x;
    animation: slideRight 600s infinite linear;
    width: 100%;
    height: 200px;
}